# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Pickle & model files
*.pkl
*.h5
*.joblib

# Streamlit cache
.streamlit/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs and temp
*.log
*.tmp
